# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.map
*.bin
*.lst
*.srec

# C files
pats_ccomp_typedefs.h
blink_ats/main.c
*_dats.c
